@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");
@import url("https://g1.nyt.com/fonts/family/cheltenham-small/cheltenham-small-normal-400.108ce298d451197b23fefceb3e36959f.woff2");
@import url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-500.d6c06a3d84a57100edad5bf9b84ff739.woff2");
@import url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-600.abe1b34d5a429f8e034860c86c483446.woff2");
@import url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-700.b44c88f09ca7ce914b836d4ae72891b8.woff2");
@import url("https://g1.nyt.com/fonts/family/cheltenham-small/cheltenham-small-normal-400.108ce298d451197b23fefceb3e36959f.woff2");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}

a {
  color: #326891;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

nav {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 19px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 3;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  padding: 20px 0;
  padding-bottom: 0;
}

nav a {
  text-decoration: none;
}

#navbar-right > span {
  display: inline-block;
}

.black {
  color: black;
}

.btn {
  background-color: rgb(50, 104, 145);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.btn > a {
  display: inline-block;
  color: white;
  padding: 5px 15px;
  font-size: 0.8em;
}

header {
  width: 950px;
  display: flex;
  flex-direction: column;
  position: relative;
}

header > div > h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  width: 500px;
  padding-bottom: 0.75em;
}

ul > li {
  display: inline-block;
  margin: 5px;
}

ul > li > a {
  position: relative;
  display: inline-block;
  margin: 25px 5px;
  background-color: #eeeeee;
}

ul > li > a > svg {
  position: relative;
  z-index: 2;
  background-color: inherit;
}

div.circle {
  width: 25px;
  height: 25px;
  border: 0.5px solid transparent;
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
}

ul > li > a:hover > svg,
ul > li > a:hover {
  background-color: transparent;
}

ul > li > a:hover > div.circle {
  border: 1px solid #eeeeee;
  border-radius: 50%;
}

header > ul {
  position: relative;
  left: -16.5%;
}

div#circle-fb {
  top: -4px;
  left: -8px;
}

div#circle-wu {
  top: -4px;
  left: -4px;
}
div#circle-tt {
  top: -4px;
  left: -6px;
}
div#circle-em {
  top: -3px;
  left: -5px;
}
div#circle-share {
  top: -3px;
  left: -4px;
}

header > img {
  width: 100%;
}

header > figcaption {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em;
  color: #333;
}

.main-container {
  margin-top: 200px;
}

.advertisement {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 75px;
  color: rgba(50, 50, 50, 0.5);
  text-align: center;
  height: 150px;
  width: 100%;
  background-color: rgba(228, 228, 228, 0.5);
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.6em;
}

div.text {
  max-width: 600px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  color: #333;
  line-height: 1.5em;
}

div.text > p {
  margin: 20px auto;
  letter-spacing: 75%;
}

div.subscribe {
  text-align: center;
  height: 110px;
}

div.subscribe > * {
  margin: 0 auto;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  display: inline-block;
}

div.subscribe > a {
  font-weight: bold;
  color: #326891;
  margin-top: 0px;
  margin-bottom: 10px;
}

div.subscribe > strong {
  margin-top: 16px;
}

div.the-theory {
  width: 950px;
  position: relative;
}

p.labels {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  color: rgb(25, 25, 25);
  margin: auto;
  position: absolute;
  width: 200px;
}

.the-theory-img {
  width: 100%;
}

p#TI-01 {
  top: 200px;
  left: 20px;
}

p#TI-02 {
  top: 200px;
  left: 250px;
}

p#TI-03 {
  top: 200px;
  left: 500px;
}

p#TI-04 {
  top: 200px;
  left: 750px;
}

p#TI-05 {
  top: 480px;
  left: 20px;
}

p#TI-06 {
  top: 480px;
  left: 250px;
}

p#TI-07 {
  top: 480px;
  left: 500px;
}

p#TI-08 {
  top: 480px;
  left: 750px;
}

div#video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#video > div.caption {
  width: 560px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}

div#video > div.caption em {
  font-style: normal;
  font-size: 0.9em;
  color: #505a619c;
}

div.picture > img {
  width: 100%;
}

div.picture > div.figcaption {
  width: 560px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  font-size: 0.7em;
  line-height: normal;
}

div.picture > div.figcaption em {
  font-style: normal;
  font-size: 0.9em;
  color: #505a619c;
}

body > aside {
  visibility: hidden;
  position: absolute;
}

@media screen and (min-width: 1100px) {
  body {
    position: relative;
  }

  body > aside {
    visibility: visible;
    max-width: 200px;
    top: 150em;
    left: calc((55% + 300px));
    z-index: 1;
  }

  div.aside-img > a {
    display: flex;
    margin: 15px auto;
    text-decoration: none;
  }

  div.aside-img img {
    width: 75px;
    height: 75px;
    margin-right: 5px;
  }

  div.aside-img p.caption {
    font-family: nyt-cheltenham-small;
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: 500;
    color: rgb(51, 51, 51);
  }

  div.aside-img > a:hover > p {
    text-decoration: underline;
  }

  aside > div.aside-title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: small;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
}

section#suggestions-container {
  width: 1200px;
  display: grid;
  grid-template:
    "newsletters         most-popular" auto
    "space-and-astronomy most-popular" auto
    "editors-picks       most-popular" auto
    / 2.5fr 1fr;
}

section#suggested-newsletters {
  grid-area: newsletters;
}

section#more-in-space-and-astronomy {
  grid-area: space-and-astronomy;
}

section#editors-picks {
  grid-area: editors-picks;
}

section#suggested-newsletters,
section#more-in-space-and-astronomy,
section#editors-picks {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 15px;
  border-top: 1px solid black;
  align-items: stretch;
}

div.section-title {
  width: 100%;
  position: relative;
}

div.section-title > h4 {
  position: absolute;
  left: 10px;
  top: -25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

div.section-title > a {
  position: absolute;
  top: -22px;
  right: 10px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: #777;
  font-size: small;
  text-decoration: none;
}

div.container-flex {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  width: 240px;
}

.article-suggested {
  border: 1px solid #eee;
  margin: 10px;
  padding: 10px;
  padding-bottom: 30px;
  position: relative;
  transition: 0.5s;
}

.article-suggested > p.attendance {
  text-transform: uppercase;
  font-family: nyt-cheltenham-small, georgia, "times new roman";
  font-size: small;
  color: #333;
}

.article-suggested > img {
  width: 75px;
  height: auto;
}

.article-suggested > .circle-plus-sign {
  width: 31px;
  height: 31px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.5s;
}

.article-suggested:hover > .circle-plus-sign {
  background-color: #333;
}

.article-suggested > .plus-sign {
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  top: 10px;
  right: 15px;
}

.article-suggested:hover > .plus-sign {
  color: white;
}

.article-suggested:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px #eee, 0 6px 20px #eee;
}

.article-suggested > a {
  position: absolute;
  bottom: 10px;
}

.article-space-and-astronomy,
.article-editors-picks {
  width: 250px;
  margin: 5px auto;
}

.article-space-and-astronomy img,
.article-editors-picks img {
  width: 100%;
}

article figcaption {
  font-family: nyt-cheltenham-small, georgia, "times new roman";
  color: rgb(153, 153, 153);
  font-size: xx-small;
  text-align: right;
}

.article-space-and-astronomy > p,
.article-editors-picks > p {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: #333;
  font-size: small;
}

section#most-popular {
  grid-area: most-popular;
  padding-top: 40px;
  padding-bottom: 15px;
  border-top: 1px solid black;
}

section#most-popular > div > h4 {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

div.most-popular-headlines {
  padding: 20px;
  border-top: 1px solid #e2e2e2;
}

div.most-popular-headlines > h5 {
  font-family: "times new roman";
  font-size: 1.2em;
}

.article-space-and-astronomy > a > h5:hover,
.article-editors-picks > a > h5:hover,
div.most-popular-headlines > h5:hover {
  color: #888;
  cursor: pointer;
}

.article-space-and-astronomy > a,
.article-editors-picks > a,
div.most-popular-headlines > a {
  color: black;
  text-decoration: none;
}
